@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  font-family: 'Koulen', cursive;
  padding: 0;
  margin: 0; }

body {
  background-color: #719ae6;
  overflow: auto; }

h1 {
  font-size: 60px;
  color: #000;
  text-align: center;
  padding: 20px; }

h2 {
  font-size: 40px;
  color: #000;
  text-align: center; }

h3 {
  color: #fff;
  text-decoration: none; }

h4 {
  text-align: center; }

h5 {
  color: #000; }

.grilla {
  display: grid;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  grid-template-areas: "header" "main" "footer";
  height: 100vh; }

main {
  grid-area: main; }

.flecha-arriba {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 80px;
  right: 0; }
  .flecha-arriba a {
    color: #fff;
    font-size: 2rem;
    margin-right: 20px; }
  .flecha-arriba li {
    list-style-type: none; }

.header {
  grid-area: header; }

/* estilos: barra de navegacion (pisando bootstrap tuve que usar 3 important)*/
#logo {
  width: 100px;
  margin-left: 30px; }

.nav-link {
  color: #fff !important;
  font-size: 25px; }

nav a:hover {
  color: #ebd141 !important; }

.bg-body-tertiary {
  background-color: #000 !important; }

.container-fluid {
  flex-direction: row; }

button .navbar-toggler-icon {
  background-color: #ebd141;
  padding: 25px;
  border-radius: 5px; }

#navbarSupportedContent ul {
  margin: auto;
  align-items: flex-end; }

#carouselExampleCaptions {
  width: 100%; }

.cuadro-1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #000; }
  .cuadro-1 a {
    text-decoration: none;
    color: #ebd141;
    text-shadow: 3px 3px 3px #000, 3px 3px 3px #000;
    font-size: 50px;
    padding: 0 50px 0  50px; }

.cuadro-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px; }
  .cuadro-2 div {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center; }
    .cuadro-2 div a {
      text-decoration: none;
      color: #ebd141;
      font-size: 50px;
      text-shadow: 3px 3px 3px #000, 3px 3px 3px #000;
      text-align: center; }

#productos {
  background-image: url(../recursos/productos/salmon2.jpg); }

#ofertas {
  background-image: url(../recursos/productos/tubosDeCalamar.jpg); }

#recetas {
  background-image: url(../recursos/imgs/langostinos.jpg); }

@media (max-width: 425px) {
  .cuadro-2 div {
    width: 300px;
    height: 400px; } }

.main-nosotros span {
  font-weight: bold; }

.main-nosotros {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: center; }

.presentacion {
  background-color: #000; }

.presentacion video {
  width: 70%; }

.main-nosotros div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.main-nosotros p {
  width: 600px;
  margin: 20px;
  text-align: justify;
  font-size: 30px;
  border-radius: 10px; }

.main-nosotros img {
  margin: 10px;
  width: 300px;
  border-radius: 5px; }

@media (max-width: 1200px) {
  .main-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .main-nosotros div {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .main-nosotros p {
      width: 400px;
      font-size: 20px; } }

@media (max-width: 425px) {
  .main-nosotros p {
    width: 300px;
    margin: 5px; } }

.main-productos section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px; }
  .main-productos section div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    margin: 10px; }
  .main-productos section li {
    font-size: 30px;
    list-style-type: none; }

.main-productos .main-productos__section--sales {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.main-productos .img-sales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row; }
  .main-productos .img-sales img {
    width: 150px;
    margin: 20px; }
  .main-productos .img-sales img:hover {
    transform: scale(2);
    border: 2px inset #000; }

.main-productos img {
  border-radius: 10px; }

#mariscos img, #rebozados img {
  width: 600px; }

#pescados img, .verduras img, .frutas img {
  width: 400px; }

@media (max-width: 1500px) {
  .main-productos section div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px; }
  .main-productos section li {
    font-size: 30px;
    list-style-type: square; }
  .main-productos section .main-productos__section--sales {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
  .main-productos section .img-sales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row; }
    .main-productos section .img-sales img {
      width: 150px;
      margin: 20px; } }

@media (max-width: 800px) {
  #mariscos img, #rebozados img {
    width: 80%; }
  #pescados img, .verduras img, .frutas img {
    width: 80%; } }

.main-ofertas img {
  width: 400px;
  margin: 10px;
  border-radius: 10px; }

.main-ofertas section {
  border-radius: 10px; }

.main-ofertas #promos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px; }

.main-ofertas #nuevo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.main-ofertas .nuevo {
  background-color: #ebd141;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  margin: auto; }

.main-ofertas h2 .nuevo {
  width: 500px; }

.main-ofertas p {
  text-align: start;
  font-size: 30px;
  padding: 15px; }

.main-ofertas__section--promosmix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.section__div--promosmix {
  display: flex;
  flex-direction: column;
  align-content: center; }

.tipos-de-promo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; }
  .tipos-de-promo div {
    margin: 15px; }
    .tipos-de-promo div li {
      font-size: 25px; }

.main-ofertas__section--promos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

@media (max-width: 800px) {
  .main-ofertas img {
    width: 300px;
    margin: 5px;
    border-radius: 10px; }
  .main-ofertas #promos h3 {
    width: 300px;
    text-align: center; }
  .main-ofertas .nuevo {
    font-size: 30px;
    width: 250px; }
  .main-ofertas p {
    font-size: 20px;
    text-align: center;
    padding: 15px; } }

.main-recetas img {
  margin: 20px;
  width: 450px;
  border-radius: 10px; }

.receta1, .receta2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }
  .receta1 div, .receta2 div {
    margin: 20px;
    display: flex;
    flex-direction: column; }

.video-recetas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0 10px 0; }
  .video-recetas iframe {
    width: 450px; }

@media (max-width: 900px) {
  .main-recetas img {
    margin: 10px;
    width: 300px;
    border-radius: 10px; }
  .video-recetas {
    margin: 5px 0 10px 0; }
    .video-recetas iframe {
      width: 300px; } }

.main-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  .main-contacto div {
    width: 50%; }
  .main-contacto form {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    flex-direction: column; }
  .main-contacto input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px; }
  .main-contacto textarea {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 80%;
    height: 90px; }

#foto-contacto {
  width: 100%;
  padding: 10px; }

@media (max-width: 1200px) {
  .main-contacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center; }
    .main-contacto div {
      width: 80%; } }

.footer {
  grid-area: footer;
  background-color: #000000; }
  .footer img {
    width: 80px; }

.redes {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .redes li {
    margin: 10px; }
  .redes a {
    color: #ffffff;
    font-size: 1.5rem; }

.footer__barra-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin: 0px 30px; }
  .footer__barra-contacto ul {
    margin-bottom: 0;
    padding-left: 0; }
  .footer__barra-contacto a {
    text-align: center; }

@media (max-width: 640px) {
  .footer__barra-contacto {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer img {
    width: 70px; } }
