.footer{
    grid-area: footer;
    background-color: #000000;
}

.footer img{
    width:80px;
}

.redes{
    list-style-type:none;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.redes li{
    margin:10px;
}
.redes a{
    color:#ffffff;
    font-size: 1.5rem;
}

 .footer__barra-contacto{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    color:#ffffff;
    margin:0px 30px;
}
.footer__barra-contacto ul{
    margin-bottom: 0;
    padding-left: 0;
}
.footer a{text-align: center;}


//media queries
@media (max-width:425px){
    .footer__barra-contacto{
        display: flex;
        flex-direction: column;
    }
     .footer img{
    width:70px;
    }
}