.header { grid-area: header;}

/* estilos: barra de navegacion (pisando bootstrap tuve que usar 3 important)*/
#logo{
    width:100px;
    margin-left:60px;
}
.nav-link{
    color: $white !important;
    font-size: 25px;
}
nav a:hover{
    color:$dorado !important;
}
.bg-body-tertiary{
    background-color:#000 !important;
}

.container-fluid{
    flex-direction: row;
}
button .navbar-toggler-icon{
    background-color:$dorado;
    padding: 25px;
    border-radius: 5px;
}

#navbarSupportedContent ul{
    margin: auto;
    align-items: flex-end;
}

