.main-productos section{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:40px;
    padding: 10px;
    background-color: #7895CB;
    border-radius: 10px;
}

#congelados{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#congelados .verduras{
    display: flex;
    flex-direction: column;
}
.verduras div{
    display: flex;
    flex-direction: row;
}
#congelados .frutas{
    display: flex;
    flex-direction: column;
}

.frutas div{
    display: flex;
    flex-direction: row;
}

.main-productos img{
    width:300px;
    border-radius: 10px;
}

.main-productos__section--sales{
    display: flex;
    flex-direction: column;
}
.img-sales{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-sales img{
    width: 150px;
    margin: 20px;
}
