.main-contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
        div{
            width:50%;
        }
        form{
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            align-items: stretch;
            flex-direction: column;
         }
         input{
             width: 80%;
             padding:10px;
             margin:10px;
             border-radius: 5px ;
         }
         textarea{
         padding:10px;
         margin:10px;
         border-radius: 5px;
         width:80%;
         height: 90px;
         }
}
#foto-contacto{
    width:100%;
    padding: 10px;
}

//media queries
@media (max-width:1200px){
    .main-contacto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        div{
            width:80%;
        }
    }
}
