.main-recetas img{
        margin: 20px;
        width:450px;
        border-radius: 10px;
}

.receta1, .receta2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    div{
        margin:20px;
        display: flex;
        flex-direction: column;
    }
}

.video-recetas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0 10px 0;
     iframe{
        width:450px;
    }
}
@media(max-width:900px){
    .main-recetas {
        img{
            margin: 10px;
            width:300px;
            border-radius: 10px;
        }
    }
    .video-recetas{
        margin: 5px 0 10px 0;
         iframe{
            width:300px;
        }
    }
}