.main-productos {
    section{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin:40px;
        padding: 10px;
        border-radius: 10px;
         div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 40px;
        }
    }
   
    ul{
        list-style-type:square;
        li{
            font-size: 30px;
        }
    }
    img{
        width:400px;
        border-radius: 10px;
    }
}

.main-productos__section--sales{
    display: flex;
    flex-direction: column;
}
.img-sales{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    img{
        width: 150px;
        margin: 20px;
    }
}

